@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Mono:400,700");
/* Styling the landing top animation*/
#canv {
  width: 100%;
  height: 100vh;
  cursor: url("../images/black-cursor.png"), auto;
  font-weight: 700; }

#header h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3.5em;
  font-family: 'Roboto Mono', monospace;
  color: #fff;
  background: #00171F;
  padding: 3rem;
  cursor: default; }

#header h1:hover {
  background: #fff;
  color: #00171F; }

/* Styling the about part */
#about {
  height: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #00171F;
  color: #fff;
  text-align: center;
  font-family: 'Open sans', sans-serif;
  clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%); }
  #about h1, #about h2 {
    font-family: 'Roboto Mono', monospace; }
  #about .github-link {
    margin-top: 20px; }
  #about a:link {
    padding: 2px;
    text-decoration: none;
    color: #00A8E8; }
  #about a:hover {
    background: #fff;
    color: #00171F !important; }
  #about a:visited {
    color: #00A8E8; }

.content-about {
  position: relative;
  top: 10%;
  max-width: 960px;
  margin: 0 auto;
  padding-bottom: 4%;
  padding-top: 5%; }

.chart {
  width: 100%;
  margin: 0 auto; }

/* Styling the portfolio part */
#portfolio {
  height: 100%;
  background: #003459;
  background-image: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png");
  background-attachment: fixed;
  text-align: center;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 95%);
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 95%);
  padding-bottom: 4rem; }
  #portfolio img {
    width: 100%;
    transition: ease-in .2s; }
    #portfolio img:hover {
      transform: scale(1.1); }
  #portfolio h1 {
    position: relative;
    top: 20px;
    color: #fff;
    font-family: 'Roboto Mono', monospace;
    background: #007EA7;
    width: 30%;
    padding: 10px;
    margin: 0 auto; }

#gallery {
  max-width: 960px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: -5%; }

/*
.gallery-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
}
*/
.item-title {
  font-family: 'Roboto Mono', monospace;
  font-size: 2em;
  background: #00A8E8;
  color: #00171F;
  padding: 7px;
  z-index: 100; }

.item-subtitle {
  position: relative;
  left: 30%;
  padding: 10px;
  background: #00171F;
  color: #fff;
  font-family: 'Open sans', sans-serif; }
  .item-subtitle a {
    text-decoration: none;
    color: #fff; }

.item-subtitle:hover {
  background: #8D99AE; }

.title-left {
  line-height: 250%;
  position: relative;
  top: 70%;
  z-index: 101; }

.title-right {
  line-height: 250%;
  position: relative;
  top: 70%;
  right: -4%;
  z-index: 101; }

.title-right .item-subtitle {
  left: -30%; }

.item-4 .item-title {
  position: relative;
  left: -18%; }

.item-5 .item-subtitle {
  left: 15%; }

.item-5 img {
  position: relative;
  top: .2rem; }

.contacts {
  height: 100%;
  color: #fff;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-family: 'Roboto Mono', monospace;
  background: #00171F;
  -webkit-clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
  padding-top: 7rem;
  margin-top: -7%; }
  .contacts .details {
    max-width: 960px;
    background: #007EA7;
    margin: 0 auto;
    text-align: center;
    font-size: 1.5rem;
    position: relative;
    padding-bottom: 7rem; }
    .contacts .details .email-tel {
      padding: 1rem;
      line-height: 2rem;
      text-align: left;
      background: #003459;
      width: 40%;
      margin: 0 auto;
      font-size: 1rem; }
    .contacts .details h2 {
      margin-top: 20px; }
    .contacts .details .social {
      background: #003459;
      margin: 0 auto;
      width: 40%; }
      .contacts .details .social a {
        color: #fff; }
    .contacts .details img {
      width: 20%;
      top: 11.5%;
      right: 7%;
      position: absolute; }

.resources {
  height: 100vh;
  background: white; }
  .resources .res-text {
    width: 100%; }

body {
  width: 100%;
  margin: 0;
  background: #003459;
  box-sizing: border-box; }
