@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Mono:400,700');

@import "abstract/variables";
@import "abstract/mixins";
@import "abstract/grid";

@import "components/cards";
@import "components/buttons";
@import "components/neon";
@import "components/glitch";
@import "components/mainText";
@import "components/navigation";

@import "pages/landing";
@import "pages/about";
@import "pages/portfolio";
@import "pages/contacts";
@import "pages/resources-page";




body {
  width: 100%;
  margin: 0;
  background: $main-color-primary;
  background-image: url('../images/portfolio-back.jpg');
  background-size: cover;
  background-attachment: fixed;
}


 