@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Mono:400,700');

@import "abstract/variables";

@import "pages/landing";
@import "pages/about";
@import "pages/portfolio";
@import "pages/contacts";
@import "pages/resources-page";



body {
  width: 100%;
  margin: 0;
  background: $prussian-blue;
  box-sizing: border-box;
}


 