/* Styling the about part */

#about {
    height: 170vh;
    padding-bottom: 8rem;
    background-color: $black;
    color: $main-font-color;
    text-align: center;
    font-family: 'Open sans', sans-serif;
    clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%);
    z-index: 1000;
    margin-top: -10rem;
    z-index: -100;

    & h1 {
        font-family: 'Roboto Mono', monospace;
        color: $white;
        font-size: 3rem;
        display: inline-block;
    }

    & .github-link {
        margin-top: 20px;
        font-size: 1.5rem;
    }

    & a:link,
    & a:visited {
        color: $main-color-secondary-2;
        padding: 2px;
        text-decoration: none;
        color: $main-color-secondary-2;
        text-transform: uppercase;
        transition: all .3s;
    }

    & a:hover {
        box-shadow: 0 1rem 2rem rgba($black, .4); 
        transform: rotate(5deg);
    }

    & p {
        font-size: 1.3rem;
        padding: 1rem;
    }
}

.content-about {
    position: relative;
    top: 10%;
    max-width: 960px;
    margin: 0 auto;
    padding-bottom: 4%;
    padding-top: 5%;
}
.chart {
    width: 100%;
    margin: 0 auto;
}
