/* Styling the about part */

#about {
    height: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: $rich-black;
    color: $white;
    text-align: center;
    font-family: 'Open sans', sans-serif;

    & h1, h2 {
        font-family: 'Roboto Mono', monospace;
    }

    & .github-link {
        margin-top: 20px;
    }

    & a:link {
        padding: 2px;
        text-decoration: none;
        color: $vivid-cerulean;
    }

    & a:hover {
        background: $white;
        color: $rich-black !important;
    }

    & a:visited {
        color: $vivid-cerulean;
    }
}

.content-about {
    position: relative;
    top: 10%;
    max-width: 960px;
    margin: 0 auto;
}
.chart {
    width: 100%;
    margin: 0 auto;
}
