.contacts {
    height: 100%;
    color: $white;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-family: 'Roboto Mono', monospace;
    background-color: #092123;
    background-image: url("../images/foggy-birds.png");
    -webkit-clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 100%);
    padding-top: 7rem;
    padding-bottom: 7rem;
    margin-top: -7%;

    & .details {
        max-width: 960px;
        background: $black;
        margin: 0 auto;
        text-align: center;
        font-size: 1.5rem; 
        position: relative;
        padding-top: 2rem;
        padding-bottom: 7rem;

        & .email-tel {
            padding: 1rem;
            line-height: 2rem;
            text-align: left;
            background: $main-color-primary;
            color: $vhs-effect-green;
            width: 40%;
            margin: 0 auto;
            font-size: 1rem;
            margin-bottom: 1rem;
        }

        & h2 {
            margin-top: 20px;
        }

        & .social {
            background: $main-color-primary;
            margin: 0 auto;
            width: 40%;

            & a {
                color: $vhs-effect-green;

                &:hover {
                    color: $white;
                }
            }

            
        }

        & img {
            width: 20%;
            top: 11%;
            right: 7%;
            position: absolute;
        }
    }
}