/* Styling the portfolio part */
#portfolio {
    height: 100%;
    background: $prussian-blue;
    background-image: url('https://www.transparenttextures.com/patterns/inspiration-geometry.png');
    background-attachment: fixed;
    text-align: center;

    & img {
        width: 100%;
    }

    & h1{
        position: relative;
        top: 20px;
        color: $white;
        font-family: 'Roboto Mono', monospace;
        background: $cerulean;
        width: 30%;
        padding: 10px;
        margin: 0 auto;
    }
    
}
#gallery {
    max-width: 960px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 50% 50%;
}

/*
.gallery-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
}
*/



.title-left {
    line-height: 250%;
    position: relative;
    top: 84%;
    z-index: 101;
}

// styling for left title and subtitle + positioning
.item {
    &-title {
        font-family: 'Roboto Mono', monospace;
        font-size: 2em;
        background: $vivid-cerulean;
        color: $rich-black;
        padding: 7px;
        z-index: 100;
    }

    &-subtitle{
        position: relative;
        left: 30%;
        padding: 10px;
        background: $rich-black;
        color: $white;
        font-family: 'Open sans', sans-serif;
    
        & a{
            text-decoration: none;
            color: $white;
        }
    }

    &-subtitle:hover{
        background: #8D99AE;
    }
    
}

// The right title and subtitle styling and positioning
.title {
    &-right {
        line-height: 250%;
        position: relative;
        top: 30%;
        right: -4%;
        z-index: 101;
    
    }
}

.title-right .item-subtitle {
    left: -30%;
}

.item-4 .item-title {
    position: relative;
    left: -18%;
}

.item-5 {
    & .title-left {
        top: 50%;
        left: 23%;
    }

    & .item-subtitle {
        left: 15%;
    }

    & img {
        position: relative;
        top: .2rem;
    }
}