.resources {
    height: 100%;
    width: 100%;
    background: $black;
    z-index: 1;
    margin-top: -10rem;
    padding-top: 14rem;
    padding-bottom: 8rem;

    & .res-text {
        width: 75%;
        margin: 0 auto;
        text-align: center;
        color: $main-font-color;
        font-family: $main-title-font;

        & ul {
            & li {
                display: block;
                

                & a{
                    color: $white;
                    text-decoration: none;
                    line-height: 3rem;
                    padding: 1rem;

                    &:hover {
                        cursor: pointer;
                        background: $white;
                        color: $main-color-primary;
                    }
                }

            }
        }
    }
}